.feedContainer {
  flex: 5.5;
}

.feedWrapper {
  padding: 20px;
}

@media only screen and (max-width: 768px) {
  .feedContainer {
    overflow: hidden;
  }
  .feedWrapper {
    padding: 10px;
    width: calc(100vw-10px);
  }
}
